<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap rescap com">
  <Identity Name="FAE.Vault.PasskeyProvider" Publisher="CN=FAE Vault, OID.2.25.311729368913984317654407730594956997722=1" Version="1.0.0.0" />
  <Properties><DisplayName>FAE Vault</DisplayName><PublisherDisplayName>FAE</PublisherDisplayName><Logo>Assets\StoreLogo.png</Logo></Properties>
  <Dependencies><TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.26100.6725" MaxVersionTested="10.0.26200.9168" /></Dependencies>
  <Resources><Resource Language="en-US" /></Resources>
  <Applications>
    <Application Id="FAE.Vault.PasskeyProvider" Executable="PasskeyManager.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="FAE Vault" Description="FAE Vault Passkey Provider" BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions><com:Extension Category="windows.comServer"><com:ComServer>
        <com:ExeServer Executable="PasskeyManager.exe" Arguments="-PluginActivated" DisplayName="FAE Vault">
          <com:Class Id="443e631d-c94b-4d9c-b43e-daa99a0311d8" DisplayName="FAE Vault" />
        </com:ExeServer>
      </com:ComServer></com:Extension></Extensions>
    </Application>
  </Applications>
  <Capabilities><rescap:Capability Name="runFullTrust" /></Capabilities>
</Package>
